@import url('/css/reset.css');
@import url('/css/normalize.css');
@import url('/css/nav-footer.css');

table{
     border: 1px solid black;
     width: 20%;
     left: 40%;
     top: 30%;
     padding-left: 0%;
     width: 50%;
     margin: auto;
     display: block;
     overflow-x: auto; 
} 
main{
    margin: 5em;
}
