
/***********************************IMPORTS*****************************************************************/
@import url("reset.css") screen;
@import "normalize.css";
@import "etiquetas.css" ;
@import "animaciones.css";
@import "layouts.css";
@import "clases.css";
@import "custom.css";
@import "print.css" print;

/***********************************RESET*****************************************************************/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/***********************************KEYFRAME***************************************************************/
@keyframes mymove{
    from{
        color: gray;
    }

    to{
        color: red;
    }
}

/***********************************NORMALIZE***************************************************************/



/***********************************LAYOUTS*****************************************************************/



/***********************************CLASSES*****************************************************************/

.container{
    position: absolute;
    left: 0;
    height: 40%;
    width: 100%;
    background-color: brown;
    /*z-index: 1;*/

}

.container2{
    position: absolute;
    left: 0;
    top:120%;
    height: 40%;
    width: 100%;
    background-color: blue;

}

.img1{
    background-image: url(../images/office.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
   /* z-index: 1;*/
}
.parallax h2{
    color: mediumvioletred;
}

.parallax{
	position:relative;
	left: 0;
    font-size: 16px;
    font-family:  Arial, sans-serif;
    background-image: url(../images/office.jpg);
    height:60%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}


.box-animation{

    position: absolute;
    top: 30%;
    width: 30%;
    height: 30%;
    background-color: blue;
    animation: mymove 5s infinite;
}


.Espacio{
	margin: 10px;
	margin-top: 30%;
    background-color: steelblue;
    
    height: 20%;
 
}
.nav-wrapper{
	background-color: #0099CC;
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 999;
}
.footer-wrapper{
	position: fixed;
	bottom: 0;
	background-color: indigo;
	padding: 20px;
	width:100%;
	height: 15%;
}

.tabla{
	z-index: 1;
}



.Teacher{
   /* position: absolute;
    left: 25%;*/
}

/***********************************PSEUDOCLASSES************************************************************/


.box-animation:hover{
    color: red;
    border-radius: 50%;
    transition-duration: 3s;
}




td:hover{
    color: blue;
}

nav>a:hover{
	color: pink;
	background-color: red;
}

/***********************************IDS**********************************************************************/

#Cargar{
	margin-left: 10px;	
}

/***********************************TAGS*********************************************************************/
body{
	margin-bottom: 10%;	
}

table{
   /* border: 1px solid black;
    width: 20%;
    position: absolute;
    left: 40%;
    top: 30%;
    padding-left: 0%;
    width: 50%;
    margin: auto;*/
    display: block;
    overflow-x: auto; 

}


h2{
    color: #09C;
    font-size: 16px;
    font-family:  Arial, sans-serif;   
}

td {
    border: 1px solid black; /*shorthand = abreviacion*/
    width: 20%;
    height: 40%;
    text-align: center;
}
tr{
    width: 50%;
    height: 50%;
}



section{
    background-color: rgb(105, 105, 189) ;
    margin: 10px;
    padding: 5px;
}


nav{
	color: black;
	display: flex;
	justify-content: space-around;
	z-index: 999;	
	
}

nav{
	max-width: 1024px;
	margin: auto;
}


main{
	
	max-width: 1024px;
	margin: auto;
}


footer{
	
	margin: auto;
	max-width: 1024px;
}

section>p{
	line-height: 30px;
	text-align: justify;
}

/***********************************LISTAS*********************************************************************/


ol, ul, dl{
	padding-left: 20px;
	margin-top: 20px;
	line-height: 25px;
}


li{
	list-style-type: decimal;
}
