<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">

			<welcome-file-list>
				<welcome-file>/jsp/login.jsp</welcome-file>
			</welcome-file-list>
			
			<!-- Paginas de errores -->
			<error-page>
				<error-code>404</error-code>
				<location>/error/error404.jsp</location>
			</error-page>
			<error-page>
				<error-code>500</error-code>
				<location>/error/error500.jsp</location>
			</error-page>
			<!-- Se puede filtrar por tipo de excepcion
			<error-page>
				<exception-type></exception-type>
				<location></location>
			</error-page> -->
			
</web-app>
